//- Пример формы с валидацией
mixin form
    form(action='sender.php' onsubmit="return false" data-form="form" data-form-error="поле не должно быть пустым")#form
        .form__input-wrapper
            input(name="name" type="text" placeholder="Имя").form__input.validate
            span.form__error
        .form__input-wrapper
            input(name="email" type="email" placeholder="Email" data-mail-error="некорректный e-mail").form__input.validate
            span.form__error
        .form__input-wrapper
            input(name="tel" type="tel" placeholder="+7 (999) 999-99-99" data-tel-error="некорректный номер телефона" data-tel).form__input.validate
            span.form__error
        if block
            block
        +btn({
            text: 'Отправить заявку',
        })(data-submit type='submit').btn.form__submit.btn-main