extends ../templates/template.pug
block content
    section.general-block.container.general-block--2
        .general-block__part
            h1.t-h3 Автомойка робот
            .general-block__subprofit.t-h5 бизнес без людей </br> за 60 дней с прибылью <span> от 300000 руб в месяц  </span> </br> с одного бокса
            .general-block__picture-holder
                +picture({src:'general-block/gb.png',srcWebp:'general-block/gb.webp'})(alt='Мойка').general-block__img-source.general-block__img-source--img
            +btn({text: 'Получить бизнес-план'})(data-modal-open="modal-popup").btn-main.general-block__button
            .general-block__subtext Получите пошаговый бизнес-план по запуску робот-мойки со стабильной. прибылью и поддержкой от поставщика
    +advantages
    +profit
    +cases
    +support
    +about
    +yandex
    +partners
    +washing
    +contacts