extends ../templates/template.pug
block content
    section.general-block.container.general-block--3
        .general-block__part
            .general-block__overheading.t-h5 Избавьтесь от забот о персонале </br> с робот-мойкой
            h1.t-h3 Умный бизнес будущего, полностью автоматизированный
            .general-block__subprofit.t-h5 Управляйте всем процессом удаленно
            .general-block__picture-holder
                +picture({src:'general-block/gb.png',srcWebp:'general-block/gb.webp'})(alt='Мойка').general-block__img-source.general-block__img-source--img
            +btn({text: 'Получить бизнес-план'})(data-modal-open="modal-popup").btn-main.general-block__button
            .general-block__subtext Получите пошаговый бизнес-план по запуску робот-мойки со стабильной. прибылью и поддержкой от поставщика
    +advantages
    +profit
    +cases
    +support
    +about
    +yandex
    +partners
    +washing
    +contacts