include ../blocks/svg/svg.pug
include ../blocks/button/button.pug
include ../blocks/modal/modal.pug
include ../blocks/picture/picture.pug
include ../blocks/logo/logo.pug
include ../blocks/socials/socials.pug
include ../blocks/video/video.pug
include ../blocks/select/select.pug
include ../blocks/menu/menu.pug
include ../blocks/general-block/general-block.pug
include ../blocks/advantages/advantages.pug
include ../blocks/profit/profit.pug
include ../blocks/cases/cases.pug
include ../blocks/support/support.pug
include ../blocks/about/about.pug
include ../blocks/yandex/yandex.pug
include ../blocks/partners/partners.pug
include ../blocks/partners/partners-logos.pug
include ../blocks/washing/washing.pug
include ../blocks/contacts/contacts.pug

