mixin cases
    section.cases.container#cases
        h2.t-h4 Кейсы
        .cases__cards-wrapper.swiper.swiper-cases
            .cases__cards.swiper-wrapper
                each slide in [{img:'case1',right:[{overtitle:'Дата начала работы', title:'Январь 2019г.'},{overtitle:'Средняя чистая прибыль', title:'510 840 руб'},{overtitle:'Точка безубыточности', title:'2 месяца'},{overtitle:'Период окупаемости', title:'12 месяцев'}]},{img:'case3',right:[{overtitle:'Дата начала работы', title:'Май 2020'},{overtitle:'Средняя чистая прибыль', title:'488 724 руб'},{overtitle:'Точка безубыточности', title:'1 месяц'},{overtitle:'Период окупаемости', title:'14 месяцев'}]},{img:'case2',right:[{overtitle:'Дата начала работы', title:'Февраль 2021'},{overtitle:'Средняя чистая прибыль', title:'510 840 руб'},{overtitle:'Точка безубыточности', title:'1 месяц'},{overtitle:'Период окупаемости', title:'14 месяцев'}]}]
                    .cases__card-wrapper.swiper-slide 
                        .cases__card 
                            .cases__card-top
                                .cases__card-img(style=`background-image:url('../assets/img/webp/cases/${slide.img}.webp')`)
                                .cases__card-top-right 
                                    ul.right__list
                                        each item in slide.right
                                            li.right__list-item
                                                .item__overtitle !{item.overtitle} 
                                                .item__title !{item.title} 
                            .cases__card-bottom.t-h5
                                .cases__card-bottom-item МКАД
                                .cases__card-bottom-item 
                                    .item__title МКАД 26
                                    .item__subtitle Умная Мойка Москва, ул. Барклая
                                .cases__card-bottom-item Мичуринский
                                .cases__card-bottom-item Серпухов
        .swiper-navigation
            .swiper-button-prev.swiper-button-prev--cases
            .swiper-button-next.swiper-button-next--cases
        .swiper-pagination.swiper-pagination--cases
                
