mixin cases
    section.cases.container
        h2.t-h4 Кейсы
        .cases__cards-wrapper.swiper.swiper-cases
            .cases__cards.swiper-wrapper
                .cases__card-wrapper.swiper-slide 
                    .cases__card 
                        .cases__card-top
                            +picture({
                                src:'cases/case1.png',
                                srcWebp:'cases/case1.webp'
                            })
                            .cases__card-top-right 
                                ul.right__list
                                    li.right__list-item
                                        .item__overtitle Дата начала работы
                                        .item__title Январь 2019г.
                                    li.right__list-item
                                        .item__overtitle Средняя чистая прибыль
                                        .item__title 510 840 руб
                                    li.right__list-item
                                        .item__overtitle Точка безубыточности
                                        .item__title 2 месяца
                                    li.right__list-item
                                        .item__overtitle Период окупаемости
                                        .item__title 12 месяцев
                        .cases__card-bottom.t-h5
                            .cases__card-bottom-item МКАД
                            .cases__card-bottom-item 
                                .item__title МКАД 26
                                .item__subtitle Умная Мойка Москва, ул. Барклая
                            .cases__card-bottom-item Мичуринский
                            .cases__card-bottom-item Серпухов    
                .cases__card-wrapper.swiper-slide 
                    .cases__card 
                        .cases__card-top
                            +picture({
                                src:'cases/case1.png',
                                srcWebp:'cases/case1.webp'
                            })
                            .cases__card-top_right 123123
                        .cases__card-bottom
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123    
                .cases__card-wrapper.swiper-slide 
                    .cases__card 
                        .cases__card-top
                            +picture({
                                src:'cases/case1.png',
                                srcWebp:'cases/case1.webp'
                            })
                            .cases__card-top_right 123123
                        .cases__card-bottom
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123    
                .cases__card-wrapper.swiper-slide 
                    .cases__card 
                        .cases__card-top
                            +picture({
                                src:'cases/case1.png',
                                srcWebp:'cases/case1.webp'
                            })
                            .cases__card-top_right 123123
                        .cases__card-bottom
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123
                            .cases__card-bottom-item 123    
