footer.footer.container
    .footer__top
        a(href="/").logo&attributes(attributes).footer__logo
            include ../../assets/img/svg/logo-footer.svg
        .footer__menu
            +menu
    .footer__bottom
        .footer__bottom-hashtag(data-modal-open='modal-popup2') #умные автомойки 2023
        a(href='/').footer__bottom-policy Политика конфиденциальнсти

    