+modal('modal-menu', 'aside')
    .modal__menu
        +menu
    .modal__footer
        .modal__footer-content
            a(href="tel:88005502387") 8 (800) 550 23 87
            a(href="mailto:franchising@intelwash.ru") franchising@intelwash.ru
            p Москва ул. Барклая 6, стр 5, офис 506 Бизнес-центр "Барклай плаза"
            +socials 