header.header.container.js-header
    .header__inner
        .header__burger(data-modal-open="modal-menu")
            .header__burger-line
            .header__burger-line
            .header__burger-line
        +logo

        nav.header__menu
            +menu