+modal('modal-popup', 'center')
    .modal__popup
        .modal__close
            .modal__close-icon
        .modal__popup-top
            .modal__popup-heading Получить бизнес-план
            .modal__popup-text Выберите куда вам отправить бизнес-план и наш менеджер сделает это в ближайшее время
        +form
            .modal__popup-messanger
                .messanger__heading Куда направить бизнес-план?
                .messanger__select
                    select(name='messanger').form__select
                        option WhatsApp
                        option Telegram