+modal('modal-popup--request', 'center')
    .modal__popup
        .modal__close
            .modal__close-icon
        .modal__popup-top
            .modal__popup-heading Оставить заявку
            .modal__popup-text Оставьте свои контакты и наш менеджер свяжется с Вами в ближайшее время
        +form