.btn
    display: flex
    align-items: center
    justify-content: center
    column-gap: 8px
    .btn__text
        +gilroy(b)
        white-space: nowrap
        color: $black

.btn-main
    padding: 20px

    border-radius: 10px
    background-color: $secondary
    box-shadow: 0 5px 0 0 $secondary-dark
    will-change: transform
    transition: $trs
    @media ( max-width: $mob )
        margin: 34px auto 0
        padding: 16px 20px

    &:hover
        box-shadow: 0 0 $secondary-dark
        transform: translateY(5px)
    .btn__text
        font-size: 18px
        font-weight: 500
        line-height: 21px
        color: $white

.btn--icon
    @extend .u-center
    border-radius: 100%

.btn--close
    position: relative
    height: 40px
    width: 40px
    &:before, &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform-origin: center
        transition-duration: inherit
        transition-timing-function: ease
        width: 30px
        height: 3px
        border-radius: 20px
        background-color: $black
    &:before
        transform: translate(-50%, -50%) rotate(45deg)
    &:after
        transform: translate(-50%, -50%) rotate(135deg)
