mixin socials()
    .socials&attributes(attributes)
        each link in [{icon:'vk',href:'https://vk.com/intelwash'}, {icon:'inst',href:'https://www.instagram.com/intelwash.ru/'}, {icon:'tiktok',href:'https://www.tiktok.com/@intelwash.ru'},{icon:'youtube',href:'https://www.youtube.com/channel/UCQHcfxUUF2f2o9Q-HOaGyLg'},{icon:'telegram',href:'https://t.me/intelwash_biz'}] 
            +btn({
                isLink: true,
                icon: link.icon,
                href: link.href
            })(target="_blank", rel="noopener noreferrer").btn--icon.socials__link
