mixin profit
    section.profit.container#benefits
        h2.t-h4
            | Сколько можно заработать
            br
            |
            span с робот-мойкой?
        .profit__content
            .profit__content-top
                .top__note *Данная информация усреднена, носит ознакомительный характер и для каждого региона рассчитывается индивидуально
                .top__legend
                    .top__legend-title Чистая прибыль по месяцам
                    .top__legend-text 
                        .line
                        .text Чистая прибыль, руб.
            +picture({
                src:'profit/profit.png',
                srcWebp:'profit/profit.webp',
            })(alt='График', width='100%').profit__content-img
            .profit__content-img-descr Месяц с даты запуска
            .profit__content-img-zoom.media-min--mob смотреть увеличенный график

            .bottom__labels
                each label in [{icon:'wallet', title:'Заработок', text:'с 1го дня запуска!'},{icon:'profit', title:'Чистая прибыль составит', text:'минимум 300 000 ₽/мес'}]
                    .label
                        +svg(label.icon)
                        .label__content
                            .label__content-title !{label.title}
                            .label__content-text !{label.text}
                    
            +btn({text:'Получить спецификацию на робота'})(data-modal-open='modal-popup').btn-main.profit__btn